<div class="row">
    <div class="col-sm-12 offset-sm-3">
        <h4 style="color: green; padding-left: 40px; padding-top: 20px;">Manage Your Booking</h4>
    <div class="icalendar">
        <div class="icalendar__month">
            <div class="icalendar__prev" onclick="moveDate('prev')">
                <span>&#10094;</span>
            </div>
            <div class="icalendar__current-date">
                <h2 id="icalendarMonth"></h2>
                <div>
                    <div id="icalendarDateStr"></div>
                </div>

            </div>
            <div class="icalendar__next" onclick="moveDate('next')">
                <span>&#10095;</span>
            </div>
        </div>
            <div class="icalendar__week-days">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
        <div class="icalendar__days"></div>
    </div>
</div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-sm-6 offset-sm-3">
      <div class="alert alert-success" role="alert">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">6 Oct 2020</h5>
          <p class="card-text">
          9am to 5pm - AR302<br>
          9am to 5pm - ME404</p>
        <a href="#" class="btn btn-success">Move</a>
        <p style="float: right; font-weight: bold">70<img src="images/green-env.jpg" class="img-fluid" alt="Responsive image" width="30px" height="10px" style="border-radius: 50%"></p>
        </div>
      </div>
    </div>
</div>