<div class="container">
  <div class="row">
    <div class="col-sm-12 offset-sm-3">
      <!-- <h4 style="color: green; padding-left: 40px; padding-top: 20px;">Manage Your Booking</h4> -->
      <p-calendar [(ngModel)]="bookingdate" [inline]="true" (onMonthChange)="monthChange($event)">
        <ng-template pTemplate="date" let-date>
          <span
            [ngStyle]="{
              backgroundColor: fillCalender(date)
            }"
            style="
              border-radius: 50%;
              padding: 1em;
              display: block;
            "
            >{{ date.day }}</span
          >
        </ng-template>
      </p-calendar>
    </div>
  </div><br/>
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <h5 style="color: green"><b>Green Zone</b></h5>
      </div>
      <div *ngFor = "let i of hours" >
        <button type="button" class="btn btn-success" [ngStyle]="{backgroundColor: fillCalender(i)}" (click) = "selectZoneTime('GZ', i)">{{i}}</button>
      </div><br/><br /><br />
      <div class="col-sm-1">
        <h5 style="color: green"><b>Regular Zone</b></h5>
      </div>
      <div  *ngFor = "let i of hours" >
        <button type="button" class="btn btn-success" [ngStyle]="{backgroundColor: fillCalender(i)}" (click) = "selectZoneTime('RZ', i)">{{i}}</button>
      </div>
    </div>
  </div>
<br /><br />
  <div class="container">
    <div class="alert alert-success" role="alert">
      <div class="row">
        <div class="col-sm-4">
          <h3 style="font-weight: bold"
            >Zone : {{ selectedZone }}</h3
          >
        </div>

        <div class="col-sm-4">
          <label for="time">Start Time: {{showStartTime}}</label><br />
        </div>

        <div class="col-sm-4">
          <label for="time">End Time: {{showEndTime}}</label><br />
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-sm-12">
          <p style="text-align: center;">
            <b> Total Hours: {{ txt_hours }}</b>
          </p>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-sm-12">
          <p style="font-weight: bold; text-align: center">
            Total Price: {{ txt_totalPrice }}
          </p>
          <p style="text-align: center">
            <button type="button" class="btn btn-success" (click) ="bookZone()">Confirm</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
