<div class="container" style="margin-top: 150px;">
  <div class="row">
      <div class="col-sm-6 offset-3">
          <div class="main">
              <div class="shadow-wrapper">
                  <div class="shadow"></div>
              </div>
              <div class="dragon">
                  <div class="body">
                      
                  </div>
              </div>
              <div class="fire-wrapper">
                  <div class="fire"></div>
                  <div class="fire1"></div>
                  <div class="fire2"></div>
              </div>
              <div class="progress">
                  <div class="outer">
                      <div class="inner">
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div><br><br>
  <div class="row" >
    <div class="col-sm-8 offset-1">
      <table class="table">
          <thead bgcolor="darkgreen">
            <tr>
              <th></th>
              <th>Cr or Db</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Green Path</td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Booking</td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Green Store</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>