<div class="container" style="margin-top: 150px;">
  <div class="row">
      <div class="col-sm-6 offset-3">
          <div class="main">
              <div class="shadow-wrapper">
                  <div class="shadow"></div>
              </div>
              <div class="dragon">
                  <div class="body">
                      
                  </div>
              </div>
              <div class="fire-wrapper">
                  <div class="fire"></div>
                  <div class="fire1"></div>
                  <div class="fire2"></div>
              </div>
              <div class="progress">
                  <div class="outer">
                      <div class="inner">
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div><br><br>
  <div class="row" >
    <div class="col-sm-8 offset-1">
      <table class="table">
          <thead style="background-color: darkgreen;">
            <tr>
              <th></th>
              <th>Cr or Db</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of trefflesDetails">
              <td>{{item.forwhat === 'BID'? 'Booking' : (item.forwhat === 'PID'? 'Parking' : 'Greenpath')}}</td>
              <td>{{item.crordb}}</td>
              <td>{{item.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>