<nav [hidden] = "router.url == '/login'" class="navbar navbar-expand-md bg-success navbar-dark">
    <a class="navbar-brand" href="#">Juggad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <div *ngFor = "let nav of navList; let i=index" style="align-items: left;">
          <li class="nav-item">
            <a class="nav-link" routerLink="{{nav.path}}">{{nav.label}}</a>
          </li> 
        </div>
       <!-- <div *ngIf="(isAdmin | async) === true">
          <li class="nav-item">
            <a class="nav-link" routerLink="bookgreenzone">Booking</a>
          </li>
        </div>
        <div *ngIf="(isAdmin | async) === true">
          <li class="nav-item">
            <a class="nav-link" routerLink="notifications">Messages</a>
          </li> 
        </div>
        <div *ngIf="(isAdmin | async) === true">
          <li class="nav-item">
            <a class="nav-link" routerLink="messaging">Contacts</a>
          </li>  
        </div>
        <div *ngIf="(isAdmin | async) === true">
          <li class="nav-item">
            <a class="nav-link" routerLink="treffles">Points</a>
          </li>  
        </div>
        <div *ngIf="(isAdmin | async) === true">
          <li class="nav-item">
            <a class="nav-link" routerLink="graph">Electricity</a>
          </li>  
        </div>-->
        <div style="align-items: right;">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" (click) = "logoutUser()">Logout</a>
          </li> 
        </div>
      </ul>
    </div>  
  </nav>

  <router-outlet></router-outlet>